{% extends "base.twig" %}

{% block stylesheets_all %}
    <link rel="stylesheet" href="{{ asset('css/normalize.css') }}">
    <link rel="stylesheet" href="{{ asset('css/landing.css') }}">
{% endblock %}

{% block body %}
    <div class="promo-page">
        <div class="background background_slide_1"></div>
        <div class="promo-logo"></div>
        <a class="button" href=""></a>

        <div class="slider-container">
            <div class="slider-container__inner">
                <div class="slide slide_type_case"></div>
            </div>
        </div>
    </div>
{% endblock %}
