{% extends "Admin/layout.twig" %}

{% block body %}
    <form hidden="true" id="signIn" class="signIn" action="{{ path('admin_login_check') }}" method="POST">
	    <span>{{ error }}</span>
        <input type="text" name="_username" value="admin">
        <input id="signInPasswd" type="password" name="_password">
    </form>
{% endblock %}

{% block javascripts_bottom %}
    {{ parent() }}
    <script>
	    (function () {
		    login();
	    })();
    </script>
{% endblock %}