{% extends "Admin/layout.twig" %}

{% set activeMenu = 'upload' %}

{% block center_column %}
    <div class="page-header">
        <h3>Загрузка фотографий</h3>
    </div>
    <div class="row">
        <div class="col-sm-3">
            <form class="form-horizontal">
                <select class="form-control" name="album" id="albumSelector" onchange="setAlbum(this)">
                    <option value="">Выберать альбом</option>
                    {% for album in albums %}
                        <option value="{{ album.id }}">{{ album.title }}</option>
                    {% endfor %}
                </select>
            </form>
        </div>
        <div class="col-sm-1">
            <span class="text-center">или</span>
        </div>
        <div class="col-sm-3">
            <button data-toggle="modal" data-target="#createAlbumModal" class="btn btn-success near-select">Создать Новый</button>
        </div>
    </div>
    <br />
    <form id="fileupload" class="fade" action="{{ path('erliz_photosite_admin_upload') }}" method="POST" enctype="multipart/form-data">
        <!-- The fileupload-buttonbar contains buttons to add/delete files and start/cancel the upload -->
        <div class="row fileupload-buttonbar">
            <div class="col-md-8">
                <!-- The fileinput-button span is used to style the file input field as button -->
                <span class="btn btn-success fileinput-button">
                    <i class="glyphicon glyphicon-plus glyphicon-white"></i>
                            <span>Добавить файлы...</span>
                    <input type="file" name="files[]" multiple>
                </span>
                <button type="submit" class="btn btn-primary start">
                    <i class="glyphicon-upload glyphicon-white"></i>
                    <span>Начать загрузку</span>
                </button>
                <button type="reset" class="btn btn-warning cancel">
                    <i class="glyphicon-ban-circle glyphicon-white"></i>
                    <span>Отменить заугрузку</span>
                </button>
                <button type="button" class="btn btn-danger delete">
                    <i class="glyphicon-trash glyphicon-white"></i>
                    <span>Удалить</span>
                </button>
                <input type="checkbox" class="toggle">
                <!-- The loading indicator is shown during file processing -->
                <span class="fileupload-loading"></span>
            </div>
            <!-- The global progress information -->
            <div class="span4 fileupload-progress fade">
                <!-- The global progress bar -->
                <div class="progress progress-success progress-striped active" role="progressbar" aria-valuemin="0" aria-valuemax="100">
                    <div class="bar" style="width:0%;"></div>
                </div>
                <!-- The extended global progress information -->
                <div class="progress-extended">&nbsp;</div>
            </div>
        </div>
        <!-- The table listing the files available for upload/download -->
        <table role="presentation" class="table table-striped"><tbody class="files"></tbody></table>
    </form>

{% verbatim  %}
<!-- The template to display files available for upload -->
<script id="template-upload" type="text/x-tmpl">
    {% for (var i=0, file; file=o.files[i]; i++) { %}
    <tr class="template-upload fade">
        <td>
            <span class="preview"></span>
        </td>
        <td>
            <p class="name">{%=file.name%}</p>
            {% if (file.error) { %}
            <div><span class="label label-important">Error</span> {%=file.error%}</div>
            {% } %}
        </td>
        <td>
            <p class="size">{%=o.formatFileSize(file.size)%}</p>
            {% if (!o.files.error) { %}
            <div class="progress progress-success progress-striped active" role="progressbar" aria-valuemin="0" aria-valuemax="100" aria-valuenow="0"><div class="bar" style="width:0%;"></div></div>
            {% } %}
        </td>
        <td>
            {% if (!o.files.error && !i && !o.options.autoUpload) { %}
            <button class="btn btn-primary start">
                <i class="glyphicon-upload glyphicon-white"></i>
                <span>Start</span>
            </button>
            {% } %}
            {% if (!i) { %}
            <button class="btn btn-warning cancel">
                <i class="glyphicon-ban-circle glyphicon-white"></i>
                <span>Cancel</span>
            </button>
            {% } %}
        </td>
    </tr>
    {% } %}
</script>
<!-- The template to display files available for download -->
<script id="template-download" type="text/x-tmpl">
    {% for (var i=0, file; file=o.files[i]; i++) { %}
    <tr class="template-download fade">
        <td>
                <span class="preview">
                    {% if (file.thumbnail_url) { %}
                    <a href="{%=file.url%}" title="{%=file.name%}" class="gallery" download="{%=file.name%}"><img src="{%=file.thumbnail_url%}"></a>
                    {% } %}
                </span>
        </td>
        <td>
            <p class="name">
                <a href="{%=file.url%}" title="{%=file.name%}" class="{%=file.thumbnail_url?'gallery':''%}" download="{%=file.name%}">{%=file.name%}</a>
            </p>
            {% if (file.error) { %}
            <div><span class="label label-important">Error</span> {%=file.error%}</div>
            {% } %}
        </td>
        <td>
            <span class="size">{%=o.formatFileSize(file.size)%}</span>
        </td>
        <td>
            <button class="btn btn-danger delete" data-type="{%=file.delete_type%}" data-url="{%=file.delete_url%}"{% if (file.delete_with_credentials) { %} data-xhr-fields='{"withCredentials":true}'{% } %}>
            <i class="glyphicon-trash glyphicon-white"></i>
            <span>Delete</span>
            </button>
            <input type="checkbox" name="delete" value="1" class="toggle">
        </td>
    </tr>
    {% } %}
</script>
{% endverbatim %}

<div id="createAlbumModal" class="modal hide fade">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h3>Новый Альбом</h3>
    </div>
    <form name="new_album" id="newAlbum" >
        <div class="modal-body">
            <p class="text-center lead">Введите название нового альбома</p>
            <input class="center" type="text" name="title"/>
        </div>
        <div class="modal-footer">
            <input class="btn" type="reset" data-dismiss="modal" aria-hidden="true" value="Закрыть" />
            <input class="btn btn-primary" type="submit" aria-hidden="true" value="Создать"/>
        </div>
    </form>
</div>

{% endblock %}

{% block js %}
    {{ parent() }}
    <!-- jQuery-file-upload -->
    <!-- The Templates plugin is included to render the upload/download listings -->
    <script src="/js/vendor/jquery_file_upload/tmpl.min.js"></script>
    <!-- The Load Image plugin is included for the preview images and image resizing functionality -->
    <script src="/js/vendor/jquery_file_upload/load-image.min.js"></script>
    <!-- The Canvas to Blob plugin is included for image resizing functionality -->
    <script src="/js/vendor/jquery_file_upload/canvas-to-blob.min.js"></script>
    <!-- jQuery Image Gallery -->
    <script src="/js/vendor/jquery_file_upload/jquery.image-gallery.min.js"></script>
    <link rel="stylesheet" href="/js/vendor/jquery_file_upload/css/jquery.image-gallery.min.css">

    <!-- CSS to style the file input field as button and adjust the Bootstrap progress bars -->
    <link rel="stylesheet" href="/js/vendor/jquery_file_upload/css/jquery.fileupload-ui.css">
    <!-- CSS adjustments for browsers with JavaScript disabled -->
    <noscript><link rel="stylesheet" href="/js/vendor/jquery_file_upload/css/jquery.fileupload-ui-noscript.css"></noscript>

    <!-- The Iframe Transport is required for browsers without support for XHR file uploads -->
    {#<script src="/js/vendor/jquery_file_upload/jquery.iframe-transport.js"></script>#}
    <!-- The basic File Upload plugin -->
    <script src="/js/vendor/jquery_file_upload/jquery.fileupload.js"></script>
    <!-- The File Upload file processing plugin -->
    <script src="/js/vendor/jquery_file_upload/jquery.fileupload-process.js"></script>
    <script src="/js/vendor/jquery_file_upload/jquery.fileupload-image.js"></script>
    <script src="/js/vendor/jquery_file_upload/jquery.fileupload-validate.js"></script>
    <!-- The File Upload user interface plugin -->
    <script src="/js/vendor/jquery_file_upload/jquery.fileupload-ui.js"></script>

    <!-- The XDomainRequest Transport is included for cross-domain file deletion for IE8+ -->
    <!--[if gte IE 8]><script src="/js/vendor/jquery_file_upload/cors/jquery.xdr-transport.js"></script><![endif]-->
{% endblock %}
