debug: # bool

front:
    scheme: # http | https
    host: # domain name

static:
    scheme: # http | https
    host: # domain name
    version: # int for browser cache update

db:
  driver: # pdo_mysql
  host: # mysql_read.someplace.tld
  name: # my_database
  user: # my_username
  password: # my_password
  charset: # utf8

mail:
    host: # localhost
    port:  # 25
    username:  # username
    password:  # password
    encryption: # null
    auth_mode:  # null
    to: # admin@example.com
