{% extends "layout.twig" %}

{% block content %}
    <div id="content" style="display: none;">
        <div class="photo_page">
            <a href="/">
                <div class="photo horizontal picture_big picture_text black_on_white">
                    <span>Ссылки</span>
                </div>
            </a>
            <a href="http://xn--h1adbwf3d.xn--p1ai/vistavka-koshek-ekspokot-2012-fotootchet/" target="_blank">
                <div class="photo horizontal picture_big"
                     style="background-image: url('/img/links/expo_link.jpg');">&nbsp;</div>
            </a>

            <a href="http://xn----7sbbavdcznrii0ajncoi7uka.xn--p1ai/" target="_blank">
                <div class="photo horizontal picture_big"
                     style="background-image: url('/img/links/ros_link.jpg');">&nbsp;</div>
            </a>
        </div>
    </div>
{% endblock %}
