{% extends "layout.twig" %}

{% block content %}
    <div id="content" style="display: none;">
        <div class="photo_page">
            <a href="/">
                <div class="photo horizontal picture_big picture_text white_on_blue">
                    <span>Видео</span>
                </div>
            </a>
            <div class="photo horizontal picture_big black_on_white">
                <iframe width="266" height="178" src="http://www.youtube.com/embed/xh6CLl911EM?rel=0" frameborder="0" hd="1" allowfullscreen>
                </iframe>
            </div>
            <div class="photo horizontal picture_big black_on_white">
                <iframe width="266" height="178" src="http://www.youtube.com/embed/AOEKHRNwBQo?rel=0" frameborder="0" hd="1" allowfullscreen>
                </iframe>
            </div>
            <div class="photo horizontal picture_big black_on_white">
                <iframe width="266" height="178" src="http://www.youtube.com/embed/6KzFJ_Y3qis?rel=0" frameborder="0" hd="1" allowfullscreen>
                </iframe>
            </div>
        </div>
    </div>
{% endblock %}
