{% extends 'Admin/layout.twig' %}

{% set activeMenu = 'albums' %}

{% block center_column %}
	{% if albums|length == 0 %}
		<div class="jumbotron">
			<h1>Нет альбомов!</h1>

			<p>На данный момент в базе нет ни одного альбома, который вы моглибы от модерировать.</p>

			<p><a href="/admin/upload/" class="btn btn-primary btn-lg">Создать »</a></p>
		</div>
	{% else %}
		<div class="well">
			<h3>Альбомы</h3>
			{% for row in albums|batch(5) %}
				<div class="row">
				{% for album in row %}
					<div class="col-md-2 album-cover">
						<h5 class="album-cover__title">{{ album.title }}</h5>
						<a href="{{ path('erliz_photosite_admin_albums_view', {id: album.id}) }}" class="thumbnail">
							<img src="{{ photo(album.cover.id, true) }}" alt="{{ album.title }}" />
						</a>
					</div>
				{% endfor %}
				</div>
			{% endfor %}
		</div>
	{% endif %}
{% endblock %}