html
body
  height 100%
  padding 0

body
  min-height 650px

.promo-page
  position relative
  height 600%
  min-width 1024px
  border solid #fff
  border-width 0 18px
  background-color #f6f5f3
  transition all 500ms

.background
  position fixed
  z-index 0
  top 0
  right 0
  bottom 0
  left 0
  margin 20px
  transition background-color 200ms linear
  background radial-gradient(ellipse at center,rgba(255,255,255,.3)0%,rgba(255,255,255,0)100%)

.promo-logo
  z-index 10

.button
  position relative
  display inline-block
  margin 0
  padding 0
  outline 0
  text-align center
  white-space nowrap

.button_name_order
  font-size 16px
  position fixed
  z-index 10
  top 78px
  right 58px
  padding 5px 0
  border-radius 0

.slider-container
  position fixed
  width 100%
  height 100%
  min-height 650px

.slider-container__inner
  position relative
  height 100%
  transition transform 500ms

.slide
  position absolute
  width 100%
  height 100%
  min-height 550px
  text-align center

.slider-container__menu
  position fixed
  z-index 100
  top 50%
  right 39px
  margin -220px 0 0
  padding 0
  list-style none


// Landing Show Your Self
.background_slide_1
  background-color #133eb0
.background_slide_2
  background-color #33a1bc
.background_slide_3
  background-color #31a163
.background_slide_4
  background-color #7960a2
.background_slide_5
  background-color #e46632
.background_slide_6
  background-color #3c6a20

.slide_type_case
  top 100%
.slide_type_capabilities
  top 200%
.slide_type_quality
  top 300%
.slide_type_bonus
  top 400%
.slide_type_open
  top 500%
.slide_type_order
  top 600%
